body{
    background-color: #8fa6d2;
}
nav a{
    text-transform: uppercase;
    font-family: "PT Sans Narrow";
}
.nav-link{
    opacity: 0.7
}
.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}
.h1{color: #CF2828;
    text-align: center;
}
.p{color: #B3D0D;
    text-align: center;
}
.btn{
    text-align: center;
}
header {
    /*Sizing of the elemnet*/
    height: 450px;
    width: 100%;
    /*Set and adjust background image*/
    background-image: url("Background.jpg");
    background-size: cover;
}
.services{
    text-align: center;
}
.services i{
    /*Adjust the size and position of the icon*/
    font-size: 30px;
    padding: 25px 20px;
    color: #fff;
    background-color: #5bc0de;
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    /*change the roundness of the container*/
    border-radius: 50%;
}
.services span{
    width: 200px;
    display: inline-block;
}
.Pricing{
    text-align:center;
}
.Pricing i{
     /*Adjust the size and position of the icon*/
    font-size: 30px;
    padding: 25px 20px;
    color: #fff;
    background-color: #5bc0de;
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    /*change the roundness of the container*/
    border-radius: 50%;
}
section div img{
    border-radius: 50%;
    width: 200px;
    height: 141px;
}
.contact i{
    padding: 10px;
}
.contact button {
    width: 100px;
}
.contact button:hover {
    background-color: blue;
}